.container {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.title {
  font-size: large;
  font-weight: bold;
  color: black;
}

.route-info {
  width: fit-content;
}

.edit-icon {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 10px 10px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  
}